<footer class="footer">
  <div class="container text-center mb-2">
    <a class="btn btn-link mr-2 clinkedin" href="https://www.linkedin.com/in/harley-coimbra-dos-santos-8b6192101/"
      target="_blank">
      <i class="fab fa-linkedin fab-5x" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link mr-2 cgithub" href="https://github.com/DavidSouzaSantos"
      target="_blank">
      <i class="fab fa-github fab-5x" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link mr-2 cwhatsapp" href="https://api.whatsapp.com/send?phone=5511987850966"
      target="_blank">
      <i class="fab fa-whatsapp fab-5x" aria-hidden="true"></i>
    </a>
  </div>

  <div class="text-center text-muted">
    <p>&copy; {{'AllRightsReserved' | translate}}</p>
  </div>
</footer>